<<<<<<< HEAD
.introduction {
  max-width: 1200px;
  height: 100vh;
  padding: 2.5rem 2.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.25rem;
  align-items: center;
}

.introduction img {
  border-radius: 50%;
  width: 70%; 
  max-width: 320px; 
  margin-left: 50px;
}

.introduction-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.introduction-info h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detail.svg") no-repeat center;
  position: absolute;
  top: 350px;
  left: 500px;
  z-index: -1;
}

.introduction-info p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introduction {
    grid-template-columns: 1fr; 
    gap: 20px; 
    padding: 1.5rem; 
  }
  
  .introduction img {
    width: 100%; 
    max-width: 320px; 
    margin-left: 0; 
  }

.introduction-info {
  gap: 30px; 
}

  .h1-container {
    display: flex;
    justify-content: center;
  }

  .description-introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .introduction-info h1::before {
    display: none; 
  }

  .introduction-info p {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .introduction-info h1 {
    font-size: 2rem; 
  }
}

@media (max-width: 400px) {
  .introduction-info h1 {
    font-size: 1.5rem; 
  }
}
=======
.introduction {
  max-width: 1200px;
  height: 100vh;
  padding: 2.5rem 2.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.25rem;
  align-items: center;
}

.introduction img {
  border-radius: 50%;
  width: 70%;
  padding: 20px;
  margin-left: 50px;
}

.introduction-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.introduction-info h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detail.svg") no-repeat center;
  position: absolute;
  top: 350px;
  left: 500px;
  z-index: -1;
}

.introduction-info p {
  font-size: 1.5rem;
  color: #525252;
}


@media (max-width: 1000px) {
  .introduction-info h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introduction {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introduction-info h1 {
    font-size: 2rem;
  }
  .introduction-info h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introduction {
    grid-template-columns: 1fr;
  }
  .introduction img {
    display: none;
  }
}
>>>>>>> bf69c3d (added some projects)
