.projects {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.projects .subtitle {
  color: #e0e0e0;
}

.projects-main-text {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.projects-main-text strong {
  color: #141414;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.projects-container::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ce3d3d, #ca2a2a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.projects-container a {
  text-decoration: none;
  color: #000000;
}

.project-year {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

@media (max-width: 800px) {
  .projects {
    grid-template-columns: 1fr; 
    gap: 40px; 
    padding: 20px; 
  }

  .projects .subtitle {
    color: #141414; 
  }

  .projects-main-text {
    font-size: 1.25rem; 
  }

  .project-year {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .projects {
    grid-template-columns: 1fr; 
  }
}
